:root {
    --textColor: rgb(7, 147, 7);
    --bgColor: #e1e8ee;
    --containerColor: white;
    --bgButtonColor: rgb(238, 238, 250);
}

/* ! Component */
.form-container {
    width: 100%;
    padding:  0 1.25rem;
    background: var(--bgColor);
}

.container-form {
    width: 100%;
    padding: 2rem;
    background: var(--containerColor);
    border-radius: 10px;
    margin: 1.25rem 0;
}

.grid-form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
}

.main-name {
    color: var(--textColor);
    font-weight: 600;
}

.main-name-sub {
    color: var(--textColor);
    font-weight: 400;
}

/* อนุมัติเบิกจ่ายครุภัณฑ์ */

.report-day {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.report-name {
    width: 100%;
}

.report-date {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 2px solid #e1e8ee;
    width: 100%;
}

.form-date-daily {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.date-form {
    border-radius: 10px;
    border: solid 2px rgb(65, 225, 65);
    text-align: left;
    padding: 0.25rem 3rem 0.25rem 0.5rem ;
    margin-right: 1rem;
}

/*  รายการเสนออนุมัติประจำวัน */

.report-block {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.block-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem;
    padding: 0.5rem;
    width: 10rem;
    height: 2.5rem;
    border: solid 2px #e1e8ee;
    border-radius: 5px;
    background: var(--bgButtonColor);
}

.link_name {
    font-size: 13px;
    font-weight: 400;
    padding-left: 5px;
    color: gray;
}

.link_rs {
    font-size: 14px;
    font-weight: 800;
    color: black;
}

/* รายการเสนออนุมัติ */

.report-approval {
    width: 100%;
    max-height: 60%;
    border-radius: 5px;
}
.report-grid-approval {
    padding: 0.5rem 0;
    border-bottom: 2px solid #e1e8ee;
}

.form-grid {
    background: rgb(238, 238, 250);
    border-radius: 5px;
    margin: 0.5rem;
}

.form-data {
    display: grid;
    grid-template-rows: 80% 80%;
    grid-template-columns: 30% 35% 35%;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-bottom: 2px solid #e1e8ee;
}

.form-grid .form-data .form-data-sub {
    color: var(--textColor);
    font-size: 12px;
    font-weight: 100;
}

.form-data-values {
    color: black;
    font-size: 14px;
    font-weight: 100;
}

.form-grid .form-data .form-data-time {
    text-align: right;
    color: black;
    font-size: 12px;
    font-weight: 100;
}

.btn-control {
    display: flex;
    justify-content: flex-end;
    margin: 0.5rem;
    padding: 0.2rem;
}

.btn-control .btn-submit {
    background: rgb(24, 143, 24);
    margin-left: 1rem;
    color: white;
    border-radius: 5px;
    border: solid rgb(24, 143, 24);
    cursor: pointer;
}

.btn-control .btn-reject {
    background: rgb(242, 30, 69);
    color: white;
    border-radius: 5px;
    border: solid rgb(242, 30, 69);
    cursor: pointer;
}

/* รายการขออนุมัติเบิกจ่ายครุภัณฑ์ */

.report-form {
    width: 100%;
    border-radius: 5px;
    overflow-x: scroll;
}

.header-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 0;
    align-items: center;
    border-bottom: 2px solid #e1e8ee;
}

.btn-header .btn-view {
    padding: 0.25rem;
    margin-right: 1rem;
    text-align: center;
    border: solid 2px rgb(24, 143, 24);
    border-radius: 5px;
    color: var(--textColor);
    background: rgb(24, 143, 24);
    cursor: pointer;
    color: white;
}

.btn-header .btn-print {
    padding: 0.25rem;
    text-align: center;
    border: solid 2px rgb(24, 143, 24);
    border-radius: 5px;
    color: var(--textColor);
    background: rgb(24, 143, 24);
    cursor: pointer;
    color: white;
}

/* บันทึกใบเบิก */

.header-form-sub {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 0;
    border-bottom: 2px solid #e1e8ee;
}

.header-form-sub .btn-save {
    padding: 0.25rem;
    text-align: center;
    border: solid 2px rgb(24, 143, 24);
    border-radius: 5px;
    color: var(--textColor);
    background: rgb(24, 143, 24);
    cursor: pointer;
    color: white;
}

.grid-control {
    width: 100%;
    color: var(--textColor);
    font-size: 14px;
}

.form-control {
    display: grid;
    grid-template-rows: 30% 30% 30%;
    grid-template-columns: 10% 20% 10% 20% 10% 30%;
    text-align: center;
    align-items: baseline;
    width: 100%;
    padding: 1rem;
    margin: 1rem;
}

.form-control-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin: 1rem;
}

.grid-control .form-control .input_cash {
    display: flex;
    text-align: center;
    align-items: baseline;
}

/* report table */

.report-table {
    width: 100%;
}

.btn-header .btn-save-table {
    padding: 0.25rem;
    text-align: center;
    border: solid 2px rgb(24, 143, 24);
    border-radius: 5px;
    color: var(--textColor);
    background: rgb(24, 143, 24);
    color: white;
    cursor: pointer;
}

/* Footer */

.footer {
    width: 100%;
}

.footer-content {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    border-radius: 5px;
}

.form-name {
    color: var(--textColor);
}

.user_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Responsive */

@media screen and (max-width:750px) {
    .form-container {
        width: 100vw;
    }

    .topic-name {
        text-align: center;
    }

    .report-day {
        display: flex;
        flex-direction: column;
    }
    
    .report-date {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-bottom: 2px solid #e1e8ee;
    }
    
    .form-date-daily {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .form-date-daily label {
        margin: 0.5rem;
    }

    .report-block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .grid-form {
        display: flex;
        flex-direction: column;
    }

    .report-approval {
        max-height: auto;
    }

    .form-grid {
        background: rgb(238, 238, 250);
        border-radius: 5px;
    }
    
    .form-data {
        display: grid;
        grid-template-rows: 80% 80%;
        grid-template-columns: 30% 40% 30%;
        border-bottom: 2px solid #e1e8ee;
    }

    .btn-control {
        display: flex;
        justify-content: center;
    }

    .grid-control .form-control {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        z-index: 2;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        justify-content: center;
    }

    .user_form {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .form-control-btn {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 1rem;
    }
  }